.content {
  padding: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  ion-icon.main {
      font-size: 100px;
  }

  ion-badge {
      font-size: 15px;
  }

  .title {
      font-size: 25px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0.25px;
  }

  ion-card {
      width: 100%;
  }
}
