<ion-content>
  <div class="content">
    <ng-container *ngIf="lastDrain$|async as item; else loading" lines="none">

      <ng-container *ngIf="drain; else not">
        <ion-icon class="main" [color]="getStatus(item.value).color" name="skull-outline"></ion-icon>
        <p class="title">Se esta presentando una fuga</p>
        <ion-badge [color]="getStatus(item.value).color">Nivel: {{ this.getStatus(item.value).message }}</ion-badge>
        <p>
          Empezó: {{ item?.startDate | date:'medium' }}
        </p>
      </ng-container>

      <ng-template #not>
        <ion-icon class="main" color="success" name="pulse-outline"></ion-icon>
        <p class="title">Libre de fugas!</p>

        <p>Ultima fuga</p>
        <ion-card>
          <ion-item lines="none">
            <ion-icon color="tertiary" name="pulse-outline" slot="start"></ion-icon>
            <ion-label>
              <p>Empezó: {{ item?.startDate | date:'medium' }}</p>
              <p>Finalizó: {{ (item?.endingDate | date:'medium') ?? 'No finaliza'}} </p>
            </ion-label>
          </ion-item>
        </ion-card>
      </ng-template>
    </ng-container>

    <ng-template #loading>
      <ion-spinner color="success"></ion-spinner>
    </ng-template>

  </div>
</ion-content>